# Ignore datafiles
*.csv
*.exe
*.gz
*.pdf
*.csv.gz
*.sqlite
*.zip

/Data/
./Data/
Data/

/images
images/
./images

config.py

*.png
boxplotHierarch.png
democ.png
gmm.png
kmean.png
polity2.png
poltiy.png
